.section {
  padding-top: 8rem;
  @include response(sm) {padding-top: 10rem;}
  .section-squer-main-wrap{
    padding: 2rem 0 2rem 0;
    @include response(md) {padding: 2.5rem 0 2.5rem 0;}
    .section-squer-wrap {
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 5rem;
      height: 5rem;
      
      transform: rotate(45deg);
      border: 2px solid rgba(2, 44, 67,.4);
      @include response(sm) {
        width: 8rem;
        height: 8rem;
        margin-left: 1rem;
      }
      @include response(md) {
        width: 10rem;
        height: 10rem;
      }
      @include response(lg) {
        width: 12rem;
        height: 12rem;
        margin-left:0;
        border: 3px solid rgba(2, 44, 67,.4);
      }
      .section-logo {
        color: rgba(8, 95, 99, 0.8);
        font-size: 3rem;
        transform: rotate(-45deg);
        @include response(sm) {
          font-size: 4rem;
        }
        @include response(md) {
          font-size: 5rem;
        }
      }
    }
  }
  .mt-line-sections {margin-top: 1rem;}
  .home-heding {
    font-size: 4rem;
    font-family: $heding-font;
    font-weight: bold;
    color: $g-color;
    margin-top: 1rem;
    @include response(sm) {
      font-size: 6rem;
      letter-spacing: 4px;
    }
    @include response(md) {
      font-size: 8rem;
      letter-spacing: 6px;
    }
    @include response(lg) {
      font-size: 10rem;
      letter-spacing: 10px;
      margin-top: 2rem;
    }
  }
  .h-1 {
    font-family: $heding-font;
    color: $light-grey;
    font-size: 3.5rem;
    @include response(sm) {font-size: 5.5rem;}

  }
  .ts-1 {
    font-size: 2.5rem;
    color: $dark-grey;
    font-weight: bold;
    font-family: $base-font;
    letter-spacing: 2px;
    @include response(sm) {font-size: 3.5rem;}
    @include response(md) {font-size: 5.5rem;}
  }
  .ts-2 {
    font-family: $heding-font;
    letter-spacing: 1px;
    font-size: 3.5rem;
    font-weight: bold;
    color: rgba(200,218,211, 0.3);
    margin: -2rem 0 0 2rem;
    @include response(sm) {
      margin: -3rem 0 0 2rem;
      font-size: 5.5rem;
    }
    @include response(md) {
      margin: -3.5rem 0 0 2rem;
      font-size: 7.5rem;
    }

  }
  .it-guru {
    font-size: 2rem;
    color: $g-color;
    font-weight: bold;
    font-family: $heding-font;
    @include response(sm) {font-size: 3rem;}
  }
  .intro-text, .footer-intro {
    font-family: $base-font;
    color: black;
    font-size: 1.8rem;
    @include response(sm) {font-size: 2.2rem;}
    @include response(md) {font-size: 2.5rem;}
  }

  .diploma-h1 {
    font-size: 2.5rem;
    color: $dark-grey;
    font-weight: bold;
    font-family: $base-font;
    margin-top:1.5rem;
    @include response(sm) {
      margin-top:2rem;
      font-size: 3.5rem;}
  }
  .diplomas-mtt {
    margin-top: 2rem;
    @include response(md) {margin-top:0;}
  }
  
  .diplomas-wrap {
    margin-top: 1.5rem;
    .instution-link-heading {
      display: block;
      width: 100%;
      padding: .5rem 0;
      background-repeat: no-repeat;
      background-position: left center;
      background-size: 2rem 2rem;
      text-indent: 3rem;
      font-size: 1.8rem;
      text-decoration: none;
      transition: all .3s ease;
      color:rgb(8, 95, 99);
      @include response(sm) {font-size: 2.2rem;}
      &:hover {color: rgba(0, 0, 0, 0.6);}
    }
    .code_fav {background-image: url(../images/code_fav.png);}
    .ms_fav {background-image: url(../images/ms_fav.png);}
    .diploma-link {
      img {
        width: 60%;
        @include response(sm) {
          width: 100%;
          margin-top:1.5rem;
        }
      }
    }
    .diploma-description {
      padding: 0;
      a {
        display:block;
        margin-top: 2rem;
        color: rgba(8, 95, 99, 0.8);
        font-size: 2rem;
        @include response(sm) {padding-left: 1.5rem;}
      }
      h3 {
        font-size: 1.5rem;
        margin-bottom: 1rem;
        @include response(sm) {
          font-size: 2rem;
          padding-left: 1.5rem;
        }
      }
      ul{
        list-style: none;
        @include response(sm) {padding-left: 1.5rem;}
        li {
          font-size: 1.3rem;
          margin-bottom: .5rem;
          @include response(sm) {font-size: 1.7rem;}
          @include response(md) {font-size: 1.5rem;}
          @include response(lg) {font-size: 1.8rem;}
        }
      }
    } 
  }
  .cert-wraps {
    margin-top:2rem; 
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    @include response(sm) {grid-template-columns: 1fr 1fr 1fr 1fr;}
    @include response(lg) {grid-gap: 2rem;}
  
    .cert-link-wrap {
      display: block;
      text-align: center;
      transition: all;
      border: 1px solid rgba(8, 95, 99, 0.5);
      span {
        display: block;
        color:rgba(8, 95, 99, 0.8);
        font-weight:bolder;
        padding: .5rem 0;
        font-size: 1.3rem;
      }
      &:hover {text-decoration:none;}
    }
    .sliding-middle-out {
      display: inline-block;
      position: relative;
      padding-bottom: 0;
    }
    .sliding-middle-out:after {
      content: '';
      display: block;
      margin: auto;
      height: 3.5px;
      width: 0px;
      background: transparent;
      transition: width .5s ease, background-color .5s ease;
    }
    .sliding-middle-out:hover:after {
      width: 100%;
      background: rgb(8, 95, 99);
    }
  }



.testiomonial {
  padding-top: 2rem;
  &-height {
    height: 10rem;
    @include response(sm) {
      height: 16rem;
    }
    @include response(md) {
      height: 20rem;
    }
  }
  &-icon {
    font-size: 3rem;
    font-weight: bold;
    color: $g-color;
  }
  &-title {
    font-size: 2rem;
    font-weight: bold;
    color: $light-grey;
    @include response(sm) {font-size: 2.7rem;}
    @include response(sm) {font-size: 3.2rem;}

  }
    &-l {border-top: 1px solid $super-light-grey;}
    &-g {border-top: 1.3px solid  $g-color;}
    &-quote {
        font-style: italic;
        font-size: 1.4rem;
        font-weight: bolder;
        color: rgba(0,0,0, 0.9);
        letter-spacing: 1px;
        @include response(sm) {font-size: 2rem;}
        @include response(sm) {font-size: 2.5rem;}
    }
    &-name {
      font-weight: bold;
      font-style: normal;
      color: $g-color;
      font-size: 1.8rem;
      @include response(sm) {font-size: 2.7rem;}
    }
}

  /*-- Profile --*/
    .profile-img {
      margin-top: 2rem;
      width: 80%;
      @include response(xs) {width: 60%;}
      @include response(sm) {width: 100%;}
      @include response(xl) {width: 72%;}

    }
    .about {
      &-me {
        font-family: $heding-font;
        font-size: 4rem;
        font-weight: bold;
        color: $dark-grey;
      }
      &-a {
        font-family: $crazy-font;
        letter-spacing: 2px;
        font-size: 6.5rem;
        margin: -4.5rem 0;
        color: rgba(8, 95, 99, 0.1);
      }
      &-intro {
        font-family: $base-font;
        font-size: 1.6rem;
        margin-top: 2rem;
        @include response(sm) {font-size: 2rem;}
        @include response(lg) {font-size: 2.2rem;}
       
      .medal {
        font-weight: bold;
        color:$g-color;
        }
      }

      &-details {
        .list-group-item {
          font-size: 1.6rem;
          color: $light-grey;
          font-weight: bold;
          padding-left: 0;
          @include response(sm) {font-size: 2rem;}
          @include response(lg) {font-size: 2.4rem;}
          .detail-item {
            font-weight: bold;
            color: $g-color;
            font-style: italic;
          }
        }
      }
    }

/*-- Education --*/
  .expe {
      margin-top: 1rem;
      .ex-role {
        margin-top: 1.5rem;
        @include response(xs) {
          font-size: 2rem;
        }
      }
  }

  .ex-heding {
    font-size: 3rem;
    font-family: $heding-font;
    font-weight: bold;
    color: $g-color;
    letter-spacing: 3px;
    margin-top: 2rem;
  
    @include response(sm) {
      font-size: 6rem;
      letter-spacing: 4px;
    }
    @include response(md) {
      font-size: 8rem;
      letter-spacing: 6px;
    }
    @include response(lg) {
      font-size: 10rem;
      letter-spacing: 10px;
      margin-top: 2rem;
    }
  }
  .ex-mr {@include response(lg){margin-right: 1.25rem;}}
  .ex-ml {@include response(lg){margin-left: 1.25rem;}}
  .ex-mt {margin-top: 2rem;}
  .sk-mt {margin-top: 1.5rem;}
  .sk-mtt {
          margin-top: 2.5rem;
          @include response(sm){margin-top: 3.5rem;}
  }
  .ex {
    &-date {
      font-size: 1.8rem;
      color: $dark-grey;
      font-weight: bolder;
      margin-bottom: 1.5rem;
      @include response(sm) {
        font-size: 2.2rem;
      }
    }
    &-role {
      font-size: 2.5rem;
      color: $g-color;
      font-weight: bold;
    }
    &-work {
      font-size: 1.5rem;
      margin-bottom: 1.5rem;
      a {color: $dark-grey;}
      i {color:rgb(1,153,203);}
      @include response(sm) {font-size: 2rem;}
    }
    &-achi {
      font-size: 1.5rem;
      @include response(sm) {
        font-size: 2rem;
      }
      line-height: 20px;
      a {color:rgb(1,153,203);}
    }

    &-dev-support {
      margin-top: 1rem;
      h4 {
        font-size: 1.5rem;
        @include response(sm) {
          font-size: 2rem;
        }
      }
      
      ul {
        margin-left: 2.5rem;
        list-style-type: circle;

        li:not(:first-child) {
          margin-top: .5rem;
        }
        li {
          font-size: 1.5rem;
          @include response(sm) {
            font-size: 2rem;
          }
        }
      }
      
    }
  }
  .skills {
    .sk-heding {
      font-family: $crazy-font;
      letter-spacing: 1.5px;
      color: rgba(0,0,0, 0.7);
      font-size: 2.5rem;
      @include response(xs) {font-size: 3rem;}
      @include response(sm) {font-size: 4rem;}
    }
    .dev-main-wrap {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 2rem;

        .skill-item {
          border: 1px solid rgba(179, 179, 179, 0.5);
          padding: 0;
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-gap: .5rem;

          .sk-skills-sec {
            grid-column: 1 / 3;
            grid-row: 1;
            background-color: rgba(8, 95, 99, 0.3);
            padding: .5rem;
            height: 3rem;
            @include response(sm){height: 3.5rem;}
            @include response(lg){height: 4rem;}
            h4 {
              font-size: 1.5rem;
              font-weight: 900;
              font-family: $heding-font;
              
              @include response(xs){font-size: 1.8rem;}
              @include response(sm){font-size: 2rem;}
              @include response(lg){font-size: 2.5rem;}
            }
          }
          .sk-link-item {
            a {
              display: inline-block;
              width: 100%;
              text-decoration: none;
              text-align: center;
              padding: .5rem;
              color: rgba(8, 95, 99, 0.8);
              transition: all;
              &:hover {
                background-color: rgba(8, 95, 99, 0.1);
                transition: .25s ease-in-out;
              }
              @include response(sm){text-align: left;}
              img {
                display: inline;
                width: 60%;
                @include response(xs){width: 50%;}
                @include response(xsm){width: 40%;}
                @include response(sm){width: 25%;}
              }
              span {
                display: none;
                @include response(sm){
                  display: inline-block;
                  font-size: 1.5rem;
                  $g-color: rgba(8, 95, 99, 0.8);
                  margin-left: 1rem;
                }
                @include response(md){font-size: 2rem;}
              }
            }
          }
        }
    }
    .sk-title {
      display: block;
      font-family: $heding-font;
      color: rgba(8, 95, 99, 0.9);
      font-style: bold;
      font-size: 1.5rem;
      margin: .5rem 0 0 0;
      @include response(xs) {font-size: 2rem;}
    }

    .ex-role-title {
      font-size: 2.2rem;
      margin-top: 1rem;
      color: rgba(8, 95, 99, 0.8);
      @include response(sm) {font-size: 3rem;}
    }

    /*-- Projects --*/
    .pro-mt {
      margin-top: 2.5rem;
      @include response(md) {margin-top: 0;}
      }
    .pro-mt-md {@include response(md) {margin-top: 2.5rem;}}

    .pro {
      &-title {
        font-size: 1.8rem;
        font-weight: bold;
        color: rgba(0,0,0, 0.7);
        @include response(sm) {font-size: 2.5rem;}
      }
      &-link {
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
        a {color: $dark-grey;}
        i {color:rgb(1,153,203);}
        @include response(sm) {font-size: 2rem;}
      }
      &-details {
        font-size: 1rem;
        padding: .5rem 1rem;
        border: 1px solid rgba(8, 95, 99, 0.8);
        letter-spacing: 1px;
        background-color: rgb(255, 255, 255);
        @include response(sm) {font-size: 1.5rem;}
        transition: all;
        &:hover {
          transition: .25s ease-in-out;
          background-color: rgba(8, 94, 99, 0.144);
        }
      }
      &-live {
        margin-left: .5rem;
        display: inline-block;
        font-size: 1rem;
        padding: .5rem 1rem;
        border: 1px solid rgba(8, 95, 99, 0.8);
        letter-spacing: 1px;
        transition: all;
        @include response(sm) {font-size: 1.5rem;}
        &:hover {
          text-decoration: none;
          transition: .25s ease-in-out;
          background-color: rgba(8, 94, 99, 0.144);
        }
      }
      &-story-h2 {
        font-size: 1.8rem;
        font-weight: bold;
        color: rgba(0,0,0, 0.7);
        @include response(sm) {font-size: 2.5rem;}
      }
      &-story-det {
        font-size: 1.2rem;
        line-height: 22px;
        @include response(sm) {font-size: 1.5rem;}
        a {
          color:rgb(8, 95, 99);
          &:hover {
            text-decoration: none;
            transition: .25s ease-in-out;
            color: rgba(8, 94, 99, .7);
          }
        
        }
      }
      .pro-dev-main-wrap {
        display: grid;
        grid-template-columns: auto auto;
        grid-gap: 2rem;
  
        .pro-skill-item {
          border: 1px solid rgba(179, 179, 179, 0.5);
          padding: 0;
          display: grid;
          grid-template-columns: 1fr 1fr;
          grid-gap: .5rem;
          .pro-skills-sec {
            grid-column: 1 / 3;
            grid-row: 1;
            background-color: rgba(8, 95, 99, 0.3);
            padding: .5rem;
            height: 3rem;
            @include response(sm){height: 3.5rem;}
            @include response(lg){height: 4rem;}
            h4 {
              font-size: 1.5rem;
              font-weight: 900;
              font-family: $heding-font;
              
              @include response(xs){font-size: 1.8rem;}
              @include response(sm){font-size: 2rem;}
              @include response(lg){font-size: 2.5rem;}
            }
          }
          .sk-link-item {
            a {
              display: inline-block;
              width: 100%;
              text-decoration: none;
              text-align: center;
              padding: .5rem;
              color: rgba(8, 95, 99, 0.8);
              transition: all;
              &:hover {
                background-color: rgba(8, 95, 99, 0.1);
                transition: .25s ease-in-out;
              }
              @include response(sm){text-align: left;}
              img {
                display: inline;
                width: 60%;
                @include response(xs){width: 50%;}
                @include response(xsm){width: 40%;}
                @include response(sm){width: 25%;}
              }
              span {
                display: none;
                @include response(sm){
                  display: inline-block;
                  font-size: 1.5rem;
                  $g-color: rgba(8, 95, 99, 0.8);
                  margin-left: 1rem;
                }
                @include response(md){font-size: 2rem;}
              }
            }
          }
        }
      }
      .git-link-item {
        margin-top: 2rem;
        a {
          width: 10rem;
          padding: .5rem;
          margin: 0 auto;
          display: block;
          text-decoration: none;
          text-align: center;
          color: rgba(8, 95, 99, 0.8);
          transition: all;
          border: 1px solid rgba(8, 95, 99, 0.8);
          &:hover {
            background-color: rgba(8, 95, 99, 0.1);
            transition: .25s ease-in-out;
          }
          
          @include response(sm){width: 13rem;}

          img {
            display: inline;
            width: 30%;
            @include response(sm){ width: 35%;}
            
          }
          span {
              display: inline-block;
              font-size: 1.5rem;
              $g-color: rgba(8, 95, 99, 0.8);
              margin-left: 1rem;
            @include response(sm){font-size: 2rem;}
          }
        }
      }
      .modal-dialog {
        @include response(sm) {
          max-width: 850px;
        }
      }
    }
  }
}
