<div class="row justify-content-start">
  <div class="col-4 section-squer-main-wrap">
    <div class="d-flex justify-content-center">
        <div class="section-squer-wrap">
          <i class="fas fa-home section-logo"></i>
        </div>
    </div>
  </div>
  <div class="col-8">
    <div class="d-flex justify-content-center">
      <h1 class="home-heding">HOME.</h1>
    </div>
  </div>
</div>
<div class="row justify-content-center mt-line-sections">
  <div class="col-4 col-sm-2 testiomonial-l"></div>
  <div class="col-2 col-sm-1 testiomonial-g"></div>
  <div class="col-4 col-sm-2 testiomonial-l"></div>
</div>
<div class="row justify-content-center pt-4 pb-4">
  <div class="col-12 col-sm-10 col-xl-8">
    <div class="row justify-content-center">
      <div class="col-12 text-center"><h1 class="h-1">Hello! I'm</h1></div>
    </div>
    <div class="row justify-content-start">
      <div class="col-12 mt-4"><h1 class="ts-1">Tomislav Sokac</h1></div>
      <div class="col-12"><h1 class="ts-2">Tomislav Sokac</h1></div>
    </div>
    <div class="row mt-4">
      <div class="col-12">
        <h2 class="it-guru">Inspired Junior Front End Developer | IT Guru,</h2>
      </div>
      <div class="col-xl-8 col-12 mt-1">
        <p class="intro-text">able to plan and lead full project life cycles including excellent presentation and communications skills.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center"><h1 class="diploma-h1">Achievements</h1></div>
    </div>
    <div class="row justify-content-center mt-3">
      <div class="col-4 testiomonial-l"></div>
      <div class="col-2 testiomonial-g"></div>
      <div class="col-4 testiomonial-l"></div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 p-0 diplomas-wrap">
        <div class="row justify-content-center m-0">
          <div class="col-12 col-md-6">
            <div class="row m-0">
              <div class="col-12 p-0">
                <a class="instution-link-heading code_fav" href="https://codeinstitute.net" target="_blank"><strong>Code Institute</strong></a>
              </div>
              <div class="col-12 col-sm-4 p-0 m-0 text-center">
                <a href="https://www.credential.net/4423388f-e6fb-4fd2-a5ca-224c591dacb5" class="diploma-link" target="_blank">
                  <img src="public/images/codeinstitute.jpg" class="img-fluid">
                </a>
              </div>
              <div class="col-12 col-sm-8 diploma-description">
                <a href="https://www.credential.net/4423388f-e6fb-4fd2-a5ca-224c591dacb5" target="_blank"><strong>SB2008FS</strong></a>
                <h3><strong>Skills measured:</strong></h3>
               <ul>
                 <li>User-Centric Front End Development with <strong>HTML & CSS</strong></li>
                 <li>Interactive Front End Development with <strong>Javascript</strong></li>
                 <li>Data-Centric Development with <strong>Python</strong></li>
                 <li>Full-Stack Frameworks with <strong>Django</strong></li>
               </ul>
            </div>
            </div>
          </div>
          <div class="col-12 d-md-none my-3">
            <div class="row justify-content-center mt-3">
              <div class="col-4 testiomonial-l"></div>
              <div class="col-2 testiomonial-g"></div>
              <div class="col-4 testiomonial-l"></div>
            </div>
          </div>
          <div class="col-12 col-md-6">
            <div class="row m-0">
              <div class="col-12 p-0">
                <a class="instution-link-heading ms_fav" href="https://docs.microsoft.com/en-us/" target="_blank"><strong>Microsoft</strong></a>
              </div>
              <div class="col-12 col-sm-4 p-0 m-0 text-center">
                <a href="https://www.credly.com/badges/93f8228d-1a5d-46e9-b902-1ded7d64863e/public_url" class="diploma-link" target="_blank">
                  <img src="public/images/az-900.jpg" class="img-fluid">
                </a>
              </div>
              <div class="col-12 col-sm-8 diploma-description">
                <a href="https://www.credly.com/badges/93f8228d-1a5d-46e9-b902-1ded7d64863e/public_url" target="_blank"><strong>H939-1488</strong></a>
                <h3><strong>Skills measured:</strong></h3>
               <ul>
                 <li>Cloud concepts</li>
                 <li>Core Azure services</li>
                 <li>Core solutions and management tools on <strong>Azure</strong></li>
                 <li>General security and network security features</li>
                 <li>Azure cost management and Service Level Agreements</li>
               </ul>
            </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 my-3">
        <div class="row justify-content-center mt-3">
          <div class="col-4  testiomonial-l"></div>
          <div class="col-2  testiomonial-g"></div>
          <div class="col-4  testiomonial-l"></div>
        </div>
      </div>
      <div class="col-12 text-center"><h1 class="diploma-h1">Udemy</h1></div>
      <div class="col-10 col-sm-12 col-md-10 col-xl-8 m-0">
        <div class="cert-wraps">
          <a href="https://www.udemy.com/certificate/UC-G19YIU5A/" class="cert-link-wrap sliding-middle-out" target="_blank">
            <img src="public/images/udemy_01.jpg" class="img-fluid">
            <span>UC-G19YIU5A</span>
          </a>
          <a href="https://www.udemy.com/certificate/UC-7M5UYCA3/" class="cert-link-wrap sliding-middle-out" target="_blank">
            <img src="public/images/udemy_02.jpg" class="img-fluid">
            <span>UC-7M5UYCA3</span>
          </a>
          <a href="https://www.udemy.com/certificate/UC-GD4CICQ8/" class="cert-link-wrap sliding-middle-out" target="_blank">
            <img src="public/images/udemy_03.jpg" class="img-fluid">
            <span>UC-GD4CICQ8</span>
          </a>
          <a href="https://www.udemy.com/certificate/UC-0R8PP9DZ/" class="cert-link-wrap sliding-middle-out" target="_blank">
            <img src="public/images/udemy_04.jpg" class="img-fluid">
            <span>UC-0R8PP9DZ</span>
          </a>
        </div>
      </div>
    </div>
    <div class="row justify-content-center testiomonial">
      <div class="col-12 text-center mt-3">
        <i class="fas fa-quote-right testiomonial-icon"></i>
      </div>
      <div class="col-12 text-center mt-3">
        <h1 class="testiomonial-title">Testimonials</h1>
        <div class="row justify-content-center">
            <div class="col-4 col-sm-2 testiomonial-l"></div>
            <div class="col-2 col-sm-1 testiomonial-g"></div>
            <div class="col-4 col-sm-2 testiomonial-l"></div>
        </div>
      </div>
      <div class="col col-md-10 col-lg-8 col-xl-7 text-center mt-4">
        <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active testiomonial-height">
                <p class="testiomonial-quote">"Simple can be harder than complex; you have to work hard to get your thinking clean to make it simple."</p>
                <p class="testiomonial-name">~ Steve Jobs ~</p>
            </div>
            <div class="carousel-item testiomonial-height">
              <p class="testiomonial-quote">"Nobody cares, <strong>WORK HARDER!</strong>"</p>
              <p class="testiomonial-name">~ Me ~</p>
            </div>
          </div>
          </div>
      </div>
    </div>
  </div>
</div>
