<div class="row justify-content-start">
  <div class="col-4 section-squer-main-wrap">
    <div class="d-flex justify-content-center">
      <div class="section-squer-wrap">
        <i class="fas fa-tools section-logo"></i>
      </div>
    </div>
  </div>
  <div class="col-8">
    <div class="d-flex justify-content-center">
      <h1 class="home-heding">SKILLS.</h1>
    </div>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-4 col-sm-2 testiomonial-l"></div>
  <div class="col-2 col-sm-1 testiomonial-g"></div>
  <div class="col-4 col-sm-2 testiomonial-l"></div>
</div>
<div class="row justify-content-center pt-5 pb-4">
  <div class="col col-md-10 col-xl-8 skills">
    <div class="row justify-content-center">
      <div class="col-10 text-center">
        <h1 class="footer-c">My skills</h1>
      </div>
      <div class="col-12 text-center">
        <h1 class="footer-cm">Skills</h1>
      </div>
      <div class="col-sm-10 text-center">
        <p class="footer-intro">
          Here you can find some of my
          <span class="font-weight-bold">TOP skill-set</span>
          arsenal, suited for most industries.<br />
          <span class="font-weight-bold">Check them out...</span>
        </p>
      </div>
    </div>
    <div class="row justify-content-center mt-4">
      <div class="col-12">
        <!--Development-->
        <div class="row justify-content-center">
          <div class="col-12 text-center">
            <h1 class="sk-heding m-0">DEVELOPMENT</h1>
          </div>
          <div class="col-12 sk-mt">
            <div class="dev-main-wrap">
              <div class="skill-item">
                <div class="sk-skills-sec">
                  <h4 class="m-0 p-0"><strong>CODE</strong></h4>
                </div>
                <div class="sk-link-item">
                  <a href="https://en.wikipedia.org/wiki/HTML" target="_blank">
                    <img
                      src="public/images/html.jpg"
                      class="img-fluid"
                      alt="Skills link"
                    />
                    <span><strong>HTML</strong></span>
                  </a>
                </div>
                <div class="sk-link-item">
                  <a href="https://chakra-ui.com/" target="_blank">
                    <img
                      src="public/images/chakra.jpg"
                      class="img-fluid"
                      alt="Skills link"
                    />
                    <span><strong>Chakra UI</strong></span>
                  </a>
                </div>


                <div class="sk-link-item">
                  <a href="https://sass-lang.com/" target="_blank">
                    <img
                      src="public/images/sass.jpg"
                      class="img-fluid"
                      alt="Skills link"
                    />
                    <span><strong>SASS</strong></span>
                  </a>
                </div>
                <div class="sk-link-item">
                  <a href="https://www.javascript.com/" target="_blank">
                    <img
                      src="public/images/js.jpg"
                      class="img-fluid"
                      alt="Skills link"
                    />
                    <span><strong>JavaScript</strong></span>
                  </a>
                </div>
                <div class="sk-link-item">
                  <a href="https://www.python.org/" target="_blank">
                    <img
                      src="public/images/py.jpg"
                      class="img-fluid"
                      alt="Skills link"
                    />
                    <span><strong>Python</strong></span>
                  </a>
                </div>
                <div class="sk-link-item">
                  <a href="https://en.wikipedia.org/wiki/SQL" target="_blank">
                    <img
                      src="public/images/sql.jpg"
                      class="img-fluid"
                      alt="Skills link"
                    />
                    <span><strong>SQL</strong></span>
                  </a>
                </div>
              </div>
              <div class="skill-item">
                <div class="sk-skills-sec">
                  <h4 class="m-0 p-0"><strong>FRAMEWORKS</strong></h4>
                </div>

                <div class="sk-link-item">
                  <a href="https://reactjs.org/" target="_blank">
                    <img
                      src="public/images/react.jpg"
                      class="img-fluid"
                      alt="Skills link"
                    />
                    <span><strong>React JS</strong></span>
                  </a>
                </div>

                <div class="sk-link-item">
                  <a href="https://nextjs.org/" target="_blank">
                    <img
                      src="public/images/nextjs.jpg"
                      class="img-fluid"
                      alt="Skills link"
                    />
                    <span><strong>Next JS</strong></span>
                  </a>
                </div>

                <div class="sk-link-item">
                  <a href="https://www.djangoproject.com/" target="_blank">
                    <img
                      src="public/images/dj.jpg"
                      class="img-fluid"
                      alt="Skills link"
                    />
                    <span><strong>Django</strong></span>
                  </a>
                </div>

                <div class="sk-link-item">
                  <a
                    href="https://flask.palletsprojects.com/en/2.0.x/"
                    target="_blank"
                  >
                    <img
                      src="public/images/flask.jpg"
                      class="img-fluid"
                      alt="Skills link"
                    />
                    <span><strong>Flask</strong></span>
                  </a>
                </div>

                <div class="sk-link-item">
                  <a href="https://jasmine.github.io/" target="_blank">
                    <img
                      src="public/images/jasmine.jpg"
                      class="img-fluid"
                      alt="Skills link"
                    />
                    <span><strong>Jasmine</strong></span>
                  </a>
                </div>
                <div class="sk-link-item">
                  <a href="https://angularjs.org/" target="_blank">
                    <img
                      src="public/images/angular.jpg"
                      class="img-fluid"
                      alt="Skills link"
                    />
                    <span><strong>Angular JS</strong></span>
                  </a>
                </div>
              </div>
              <div class="skill-item">
                <div class="sk-skills-sec">
                  <h4 class="m-0 p-0"><strong>APP</strong></h4>
                </div>
                <div class="sk-link-item">
                  <a href="https://git-scm.com/" target="_blank">
                    <img
                      src="public/images/git.jpg"
                      class="img-fluid"
                      alt="Skills link"
                    />
                    <span><strong>Git CLI</strong></span>
                  </a>
                </div>
                <div class="sk-link-item">
                  <a href="https://code.visualstudio.com/" target="_blank">
                    <img
                      src="public/images/vscode.jpg"
                      class="img-fluid"
                      alt="Skills link"
                    />
                    <span><strong>VS Code</strong></span>
                  </a>
                </div>
                <div class="sk-link-item">
                  <a href="https://visualstudio.microsoft.com/" target="_blank">
                    <img
                      src="public/images/vs.jpg"
                      class="img-fluid"
                      alt="Skills link"
                    />
                    <span><strong>Visual Studio</strong></span>
                  </a>
                </div>
                <div class="sk-link-item">
                  <a href="https://atom.io/" target="_blank">
                    <img
                      src="public/images/atom.jpg"
                      class="img-fluid"
                      alt="Skills link"
                    />
                    <span><strong>Atom</strong></span>
                  </a>
                </div>
                <div class="sk-link-item">
                  <a href="https://www.adobe.com/" target="_blank">
                    <img
                      src="public/images/ps.jpg"
                      class="img-fluid"
                      alt="Skills link"
                    />
                    <span><strong>Photoshop</strong></span>
                  </a>
                </div>
                <div class="sk-link-item">
                  <a href="https://balsamiq.com/" target="_blank">
                    <img
                      src="public/images/balsamiq.jpg"
                      class="img-fluid"
                      alt="Skills link"
                    />
                    <span><strong>Balsamiq</strong></span>
                  </a>
                </div>
              </div>
              <div class="skill-item">
                <div class="sk-skills-sec">
                  <h4 class="m-0 p-0"><strong>CLOUD</strong></h4>
                </div>
                <div class="sk-link-item">
                  <a href="https://aws.amazon.com/s3/" target="_blank">
                    <img
                      src="public/images/s3.jpg"
                      class="img-fluid"
                      alt="Skills link"
                    />
                    <span><strong>AWS S3</strong></span>
                  </a>
                </div>
                <div class="sk-link-item">
                  <a
                    href="https://azure.microsoft.com/en-us/overview/what-is-azure/"
                    target="_blank"
                  >
                    <img
                      src="public/images/az.jpg"
                      class="img-fluid"
                      alt="Skills link"
                    />
                    <span><strong>Azure</strong></span>
                  </a>
                </div>
                <div class="sk-link-item">
                  <a href="https://www.mongodb.com/" target="_blank">
                    <img
                      src="public/images/mongodb.jpg"
                      class="img-fluid"
                      alt="Skills link"
                    />
                    <span><strong>MongoDB</strong></span>
                  </a>
                </div>
                <div class="sk-link-item">
                  <a href="https://www.stripe.com/" target="_blank">
                    <img
                      src="public/images/stripe.jpg"
                      class="img-fluid"
                      alt="Skills link"
                    />
                    <span><strong>Stripe</strong></span>
                  </a>
                </div>
                <div class="sk-link-item">
                  <a href="https://id.heroku.com/login" target="_blank">
                    <img
                      src="public/images/heroku.jpg"
                      class="img-fluid"
                      alt="Skills link"
                    />
                    <span><strong>Heroku</strong></span>
                  </a>
                </div>
                <div class="sk-link-item">
                  <a
                    href="https://www.atlassian.com/software/jira"
                    target="_blank"
                  >
                    <img
                      src="public/images/jira.jpg"
                      class="img-fluid"
                      alt="Skills link"
                    />
                    <span><strong>JIRA</strong></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-center sk-mtt">
          <div class="col-4 col-sm-2 testiomonial-l"></div>
          <div class="col-2 col-sm-1 testiomonial-g"></div>
          <div class="col-4 col-sm-2 testiomonial-l"></div>
        </div>
        <!-- Support -->
        <div class="row justify-content-center sk-mt">
          <div class="col-12">
            <h1 class="sk-heding text-center m-0">SUPPORT</h1>
          </div>
          <div class="col-12 sk-mt">
            <div class="dev-main-wrap">
              <div class="skill-item">
                <div class="sk-skills-sec">
                  <h4 class="m-0 p-0"><strong>APP</strong></h4>
                </div>
                <div class="sk-link-item">
                  <a
                    href="https://en.wikipedia.org/wiki/Active_Directory"
                    target="_blank"
                  >
                    <img
                      src="public/images/ad.jpg"
                      class="img-fluid"
                      alt="Skills link"
                    />
                    <span><strong>AD</strong></span>
                  </a>
                </div>
                <div class="sk-link-item">
                  <a
                    href="https://en.wikipedia.org/wiki/Lansweeper"
                    target="_blank"
                  >
                    <img
                      src="public/images/lansweeper.jpg"
                      class="img-fluid"
                      alt="Skills link"
                    />
                    <span><strong>Lansweeper</strong></span>
                  </a>
                </div>
                <div class="sk-link-item">
                  <a href="https://www.veeam.com/" target="_blank">
                    <img
                      src="public/images/veeam.jpg"
                      class="img-fluid"
                      alt="Skills link"
                    />
                    <span><strong>Veeam B&R</strong></span>
                  </a>
                </div>
                <div class="sk-link-item">
                  <a href="https://en.wikipedia.org/wiki/SAP" target="_blank">
                    <img
                      src="public/images/sap.jpg"
                      class="img-fluid"
                      alt="Skills link"
                    />
                    <span><strong>SAP</strong></span>
                  </a>
                </div>
                <div class="sk-link-item">
                  <a
                    href="https://en.wikipedia.org/wiki/Microsoft_System_Center_Configuration_Manager"
                    target="_blank"
                  >
                    <img
                      src="public/images/sccm.jpg"
                      class="img-fluid"
                      alt="Skills link"
                    />
                    <span><strong>SCCM</strong></span>
                  </a>
                </div>
                <div class="sk-link-item">
                  <a
                    href="https://en.wikipedia.org/wiki/PowerShell"
                    target="_blank"
                  >
                    <img
                      src="public/images/powershell.jpg"
                      class="img-fluid"
                      alt="Skills link"
                    />
                    <span><strong>PowerShell</strong></span>
                  </a>
                </div>
              </div>
              <div class="skill-item">
                <div class="sk-skills-sec">
                  <h4 class="m-0 p-0"><strong>NETWORK</strong></h4>
                </div>
                <div class="sk-link-item">
                  <a href="https://www.freshservice.com/" target="_blank">
                    <img
                      src="public/images/freshservice.jpg"
                      class="img-fluid"
                      alt="Skills link"
                    />
                    <span><strong>Freshservice</strong></span>
                  </a>
                </div>
                <div class="sk-link-item">
                  <a
                    href="https://www.microsoft.com/en-ie/microsoft-teams/log-in"
                    target="_blank"
                  >
                    <img
                      src="public/images/teams.jpg"
                      class="img-fluid"
                      alt="Skills link"
                    />
                    <span><strong>Teams</strong></span>
                  </a>
                </div>
                <div class="sk-link-item">
                  <a href="https://slack.com/intl/en-ie/" target="_blank">
                    <img
                      src="public/images/slack.jpg"
                      class="img-fluid"
                      alt="Skills link"
                    />
                    <span><strong>Slack</strong></span>
                  </a>
                </div>
                <div class="sk-link-item">
                  <a href="https://www.teamviewer.com/en/" target="_blank">
                    <img
                      src="public/images/tw.jpg"
                      class="img-fluid"
                      alt="Skills link"
                    />
                    <span><strong>TeamViewer</strong></span>
                  </a>
                </div>
                <div class="sk-link-item">
                  <a href="https://www.webex.com/" target="_blank">
                    <img
                      src="public/images/webex.jpg"
                      class="img-fluid"
                      alt="Skills link"
                    />
                    <span><strong>Webex</strong></span>
                  </a>
                </div>
                <div class="sk-link-item">
                  <a
                    href="https://www.cisco.com/c/en_uk/index.html"
                    target="_blank"
                  >
                    <img
                      src="public/images/any.jpg"
                      class="img-fluid"
                      alt="Skills link"
                    />
                    <span><strong>AnyConnect</strong></span>
                  </a>
                </div>
              </div>
              <div class="skill-item">
                <div class="sk-skills-sec">
                  <h4 class="m-0 p-0"><strong>CLOUD</strong></h4>
                </div>
                <div class="sk-link-item">
                  <a href="https://www.okta.com/" target="_blank">
                    <img
                      src="public/images/okta.jpg"
                      class="img-fluid"
                      alt="Skills link"
                    />
                    <span><strong>OKTA</strong></span>
                  </a>
                </div>
                <div class="sk-link-item">
                  <a href="https://www.office.com/" target="_blank">
                    <img
                      src="public/images/o365.jpg"
                      class="img-fluid"
                      alt="Skills link"
                    />
                    <span><strong>O365 Admin</strong></span>
                  </a>
                </div>
                <div class="sk-link-item">
                  <a
                    href="https://azure.microsoft.com/en-us/overview/what-is-azure/"
                    target="_blank"
                  >
                    <img
                      src="public/images/az.jpg"
                      class="img-fluid"
                      alt="Skills link"
                    />
                    <span><strong>Azure</strong></span>
                  </a>
                </div>
                <div class="sk-link-item">
                  <a href="https://www.mobileiron.com/en" target="_blank">
                    <img
                      src="public/images/mi.jpg"
                      class="img-fluid"
                      alt="Skills link"
                    />
                    <span><strong>MobileIron</strong></span>
                  </a>
                </div>
                <div class="sk-link-item">
                  <a href="https://www.vmware.com/" target="_blank">
                    <img
                      src="public/images/vmware.jpg"
                      class="img-fluid"
                      alt="Skills link"
                    />
                    <span><strong>VMware</strong></span>
                  </a>
                </div>
                <div class="sk-link-item">
                  <a href="https://adminconsole.adobe.com/" target="_blank">
                    <img
                      src="public/images/adobe.jpg"
                      class="img-fluid"
                      alt="Skills link"
                    />
                    <span><strong>Adobe Admin</strong></span>
                  </a>
                </div>
              </div>
              <div class="skill-item">
                <div class="sk-skills-sec">
                  <h4 class="m-0 p-0"><strong>OS</strong></h4>
                </div>
                <div class="sk-link-item">
                  <a
                    href="https://en.wikipedia.org/wiki/Windows_11"
                    target="_blank"
                  >
                    <img
                      src="public/images/win11.jpg"
                      class="img-fluid"
                      alt="Skills link"
                    />
                    <span><strong>Windows 11</strong></span>
                  </a>
                </div>
                <div class="sk-link-item">
                  <a
                    href="https://en.wikipedia.org/wiki/Windows_10"
                    target="_blank"
                  >
                    <img
                      src="public/images/win10.jpg"
                      class="img-fluid"
                      alt="Skills link"
                    />
                    <span><strong>Windows 10</strong></span>
                  </a>
                </div>
                <div class="sk-link-item">
                  <a href="https://www.android.com/intl/en_ie/" target="_blank">
                    <img
                      src="public/images/android.jpg"
                      class="img-fluid"
                      alt="Skills link"
                    />
                    <span><strong>Android</strong></span>
                  </a>
                </div>
                <div class="sk-link-item">
                  <a
                    href="https://en.wikipedia.org/wiki/Windows_Server_2019"
                    target="_blank"
                  >
                    <img
                      src="public/images/server_2019.jpg"
                      class="img-fluid"
                      alt="Skills link"
                    />
                    <span><strong>Server 2019</strong></span>
                  </a>
                </div>
                <div class="sk-link-item">
                  <a
                    href="https://en.wikipedia.org/wiki/Windows_Server_2012"
                    target="_blank"
                  >
                    <img
                      src="public/images/server_2012.jpg"
                      class="img-fluid"
                      alt="Skills link"
                    />
                    <span><strong>Server 2012</strong></span>
                  </a>
                </div>
                <div class="sk-link-item">
                  <a href="https://en.wikipedia.org/wiki/IOS" target="_blank">
                    <img
                      src="public/images/ios.jpg"
                      class="img-fluid"
                      alt="Skills link"
                    />
                    <span><strong>iOS</strong></span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
